<!DOCTYPE html>
<html ng-app="ProfileApp">
<head>
    <title>{{user.name}} - One more lazy thing</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/home/">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile/main.css">
</head>
<body ng-controller="profileController">
    <header class="profile-header">
        <div class="profile-picture" style="background-image: url(http://thecatapi.com/api/images/get?type=gif&size=small)"></div>
        <h2>{{user.name}}</h2>
    </header>

    <nav class="profile-navigation">
        <a class="profile-link" ui-sref-active="active" ui-sref="devices">
            DEVICES
        </a><!--
        --><a class="profile-link" ui-sref-active="active" ui-sref="add">
            ADD DEVICE
        </a>
    </nav>

    <div ui-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-touch.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.7/release/angular-ui-router.js"></script>

    <script type="text/javascript" src="/static/js/vendor/paho/mqttws31.js"></script>

    <script type="text/javascript" src="/static/js/root/root.module.js"></script>
    <script type="text/javascript" src="/static/js/models/model.module.js"></script>
    <script type="text/javascript" src="/static/js/models/user.model.js"></script>
    <script type="text/javascript" src="/static/js/models/device.model.js"></script>
    <script type="text/javascript" src="/static/js/profile/profile.module.js"></script>
    <script type="text/javascript" src="/static/js/profile/profile.controller.js"></script>
    <script type="text/javascript" src="/static/js/profile/profile.devices.controller.js"></script>
    <script type="text/javascript" src="/static/js/profile/profile.add.controller.js"></script>
</body>
</html>